h1 {
    color: red;
    font-family: fantasy;
    text-align: center;
}

h3 {
    color: red;
    font-family: fantasy;
}

h2 {
   color:red;
   font-family: fantasy;
} 

href {
    color:red;
    font-family: fantasy;
}
