h1 {
    color: red;
    font-family: fantasy;
    text-align: center;
}

h3 {
    color: red;
    font-family: fantasy;
    text-align: center;
}

h2 {
   color: red;
   font-family: fantasy;
   text-align: center;
} 

href {
    color:red;
    font-family: fantasy;
}

img {
    float: center;
}
